lerna-debug.log
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json
/.changelog

/dist
.DS_Store

/packages/*/lib
/packages/*/dist
/packages/*/es
/packages/*/node_modules
/coverage
report.*.json
